.navCont {
  width: 100%;
  background-color: #3f51b5;
  color: #fff;
}
nav {
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 20px;
  margin: 0 auto;
}
nav h1 {
  margin: 10px;
  font-weight: 500;
}
nav a {
  color: #fff;
  margin: 10px;
  text-decoration: none;
  padding: 3px 8px;
  border-radius: 4px;
  position: relative;
}
nav a.active {
  color: orange;
  position: relative;
}
nav a.active::after {
  height: 2px;
  width: 60%;
  background-color: orange;
  content: "";
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
